.container {
    display: flex; /* flex */
    flex-direction: row; /* flex-row */
    height: 100vh; /* h-screen */
}


.sidebar {
    background-color: #ffffff;
    padding: 1.25rem;
}

.profile-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.profile-image-wrapper {
    /* O div externo é apenas para conter */
}

.profile-image {
    background-position: center;
    background-repeat: no-repeat;
    aspect-ratio: 1 / 1;
    background-size: cover;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
}

.profile-title {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: -0.5rem;
    line-height: 1.5rem;
}

.profile-subtitle {
    font-size: 0.875rem;
    font-weight: 300;
}

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.main-content {
    background-color: #d1d5db;
    flex-grow: 1;
    padding: 2.5rem;
}

.main-title {
    font-size: 1.875rem;
    font-weight: 700;
}

.main-subtitle {
    font-size: 1.125rem;
    font-weight: 300;
}